.layout {
  display: grid;
  grid-template-columns: 1fr;
}

.child {
  justify-self: center;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.small-image  {
  height: 75px;
}

.normal-image {
  height: 100px;
}

.large-image {
  height: 200px;
}

.xlarge-image {
  height: 300px;
}

.huge-image {
  height: 400px;
}


.can-click:hover {
  /*border-radius: 10px;*/
  -webkit-filter: invert(1);
  filter: invert(1);
}
