.layout {
  display: grid;
  grid-template-columns: 1fr;
  cursor:
}

.child {
  justify-self: center;
  text-align: center;
  padding: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.small-image  {
  height: 7vh;
}

.normal-image {
  height: 10vh;
}

.large-image {
  height: 20vh;
}

.xlarge-image {
  height: 30vh;
}

.huge-image {
  height: 40vh;
}

.ginormous-image {
  height: 60vh;
}

.can-click:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.can-click:hover + .message {
  display: flex;
}

.message {
  display: none;
}

.shift {
  padding-left: 15vh;
}
